{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    body {
        background-color: #58C9B9;
        font-family: 넥슨 고딕;
    }

    #content {
        position:absolute;
        left:50%;
        top:40%;
        transform: translate(-50%, -40%);
        width:80%;
        max-width:600px;
        min-width:300px;
        background-color: white;
        padding: 20px;
    }

    #content-header {
        text-align: center;
    }

    .title {
        color: #58C9B9;
        font-family: 넥슨 고딕 bold;
        font-size: 21px;
    }

    .desc {
        color: rgb(75, 75, 75);
        font-size:14px;
    }

#message-box {
    position:absolute;
    left:50%;
    top:65%;
    max-width:80%;
    padding:15px;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 999px;
    text-align: center;
}
</style>

<form method="POST">
{% csrf_token %}
    <div id="content">
        <div id="content-header">
            <text class="title">
                아이디 찾기
            </text>
            <br>
            <text class="desc">
                서비스에 가입할때 사용한 이메일 주소를 입력하세요.
            </text>
        </div>
        <br>
        <div id="content-body">
            <div class="input-group mb-3">
                <input type="email"  name="email" class="form-control" placeholder="example@shareparkng.kr">
                <button class="btn btn-outline-secondary"  type="submit" name="email_submit"  value="조회" id="btn-sbm" >submit</button>
            </div>
        </div>
    </div>
</form>
<br>
<div id="message-box">
    {% for message in messages %}
    <text id="message" class="desc">
        {{ message }}
    </text>
    {% endfor %}
</div>

<script>
</script>
{% endblock %}