{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    body {
        font-family: '넥슨 고딕';
        background-color: #58C9B9;
    }
    #content {
        width:90%;
        margin:auto;
        min-width:300px;
        max-width:500px;
        padding:20px;
        background-color:white;
        border-radius: 20px;
    }  
    #logo {
        max-width:600px;
        width:20%;
        height:auto;
        margin:10px;
    }


    .label-text {
        position: absolute;
        width: 100px;
        left: 45px;
        font-size:14px;
    }

    .material-icons {
        font-size:18px;
    }

    .box-title {
        margin-bottom: 10px;
    }

    #send-sms-btn {
        position:absolute;
        right:10px;
        top:10px;
    }    
    .input-btn {
        background-color: #58C9B9;
        color:white;
        /* font-family: '넥슨 고딕 bold'; */
        font-size:14px;
        border-radius: 9999px;
    }
    </style>

<div id="logo-div">
    <center>
        <img src="{% static 'icon/주차나라_로고_apk.png' %}" id="logo">
    </center>
</div>

<form method="POST" class="post-form container">
    <div id="content">
        <label class='box-title'>개인정보 변경</label>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="inputUsername" name="username" autocomplete="off" value="{{ personal.user }}"
                   value="{{ form.username.value|default_if_none:'' }}" placeholder="아이디" disabled>
            <label for="inputUsername">
                <text class="material-icons">account_circle</text>
                <text class="label-text">아이디</text>
            </label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="inputNickname" name="nickname" autocomplete="off" value="{{ personal.nickname }}"
                   value="{{ form.nickname.value|default_if_none:'' }}" placeholder="닉네임" disabled>
            <label for="inputNickname">
                <text class="material-icons">face</text>
                <text class="label-text">닉네임</text>
            </label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="inputEmail" name="email" autocomplete="off" value="{{ personal.email }}"
                   value="{{ form.email.value|default_if_none:'' }}" placeholder="이메일 주소" disabled>
            <label for="inputEmail">
                <text class="material-icons">mail</text>
                <text class="label-text">이메일 주소</text>
            </label>
        </div>
        <div class="form-floating mb-3" id="phone-div">
            <input type="text" class="form-control" id="inputPhone" name="phone" autocomplete="off"  value="{{ personal.phone }}"
                   value="{{ form.phone.value|default_if_none:'' }}" placeholder="전화번호" disabled>
            <label for="inputPhone">
                <text class="material-icons">phone</text>
                <text class="label-text">전화번호</text>
            </label>
            <button type="button" class="btn input-btn" id="send-sms-btn">전송</button>
        </div>
        <div class="input-group mb-3" id="confirm-sms" style="display: none;">
            <input type="text" class="form-control" name="auth_number" placeholder="인증번호를 입력하세요.">
            <button type="button" class="btn input-btn" >확&nbsp;&nbsp;인</button>
        </div>
        <button type="button" class="btn input-btn" onclick="location.href='/edit_personal_info'">수정하기</button>
        <button type="button" class="btn input-btn" onclick="location.href='/change_password'">비밀번호 수정</button>
    </div>
</form>

<script>
    
</script>
{% endblock %}