{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    body {
        font-family:넥슨 고딕;
        padding-top: 20px;
        background-color: #ddf1ef;
        color:rgb(61, 61, 61)
    }

    .title {
        margin:auto;
        padding:10px;
        width:80%;
    }

    .group-box {
        background-color: white;
        border-radius: 20px;
        margin:auto;
        padding:10px;
        width:90%;
        min-width:250px;
        max-width:500px;
        /* display:table; */
    }

    .group-item {
        display:table-row;
    }

    .item-image {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size:32px;
        width:52px;
        height:48px;
        /* color:#58C9B9; */
    }
    .item-text {
        /* color:#41958A; */
    }
    .item-title {
        font-family: 넥슨 고딕 bold;
        font-size:16px;
        /* position: absolute;
        top:3%; */
    }

    .item-desc {
        font-size:12px;
        /* position: absolute;
        bottom: 3%; */
    }

    .page-image {
        font-size:36px;
        margin-bottom: 30px;
    }

    hr {
        width:100% !important;
        color:#b9b9b9;
    }
</style>
<center>
    <span class="material-icons page-image">
        settings
    </span>
</center>

<div class="group-box container" id="personal_setting" >
    <div class="group-item row">
        <span class="material-icons item-image">
            account_circle
        </span>
        <div class="item-text">
            <text class="item-title">
                계정관리
            </text>
            <br>
            <text class="item-desc">
                사용자의 계정 정보를 관리합니다.
            </text>
        </div>
    </div>
</div>


<br>
<div class="group-box container" >
    <div class="group-item row" id="parkingLot_manage" >
        <span class="material-icons item-image">
            local_parking
        </span>
        <div class="item-text">
            <text class="item-title">
                주차장 관리
            </text>
            <br>
            <text class="item-desc">
                공유 주차장을 등록 및 관리합니다.
            </text>
        </div>
    </div>
    <hr>

    <div class="group-item row" id="report">
        <span class="material-icons item-image ">
            report_problem
        </span>
        <div class="item-text " >
            <text class="item-title">
                서비스 신고
            </text>
            <br>
            <text class="item-desc" >
                공유주차장 및 사용자를 신고합니다.
            </text>
        </div>
    </div>
</div>




<br>
<div class="group-box container" >
    <div class="group-item row" id="logout" >
        <span class="material-icons item-image ">
            logout
        </span>
        <div class="item-text">
            <text class="item-title">
                로그아웃
            </text>
            <br>
            <text class="item-desc" s>
                해당 서비스에서 로그아웃합니다.
            </text>
        </div>
    </div>
    <hr>
    <div class="group-item row" id="app_info" >
        <span class="material-icons item-image ">
            info
        </span>
        <div class="item-text">
            <text class="item-title">
                앱 정보
            </text>
            <br>
            <text class="item-desc" s>
                어플리케이션 정보를 출력합니다.
            </text>
        </div>
    </div>
</div>

<br>

<div class="group-box container" id="delete_user" >
    <div class="group-item row">
        <span class="material-icons item-image ">
            no_accounts
        </span>
        <div class="item-text">
            <text class="item-title">
                회원탈퇴
            </text>
            <br>
            <text class="item-desc" s>
                해당 서비스에서 영구히 탈퇴합니다.
            </text>
        </div>
    </div>
    
</div>

<br>

<div class="modal" id="info-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <b>어플리케이션 정보</b>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <image src="{% static 'icon/주차나라_로고.png' %}" style="background-color: #58C9B9; padding:20px; width: 100%; height:auto; margin-bottom: 30px;"></image>
                <div class="info-application"  style="margin-bottom: 10px;">
                    <text>
                        <b>버전 정보</b>&nbsp;&nbsp;&nbsp;
                    </text>
                    <text>
                        1.0.0 alpha
                    </text>
                </div>
                <div class="setting-item leave" style="margin-bottom: 10px;">
                    <text>
                        <b>운영진</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </text>
                    <text>
                        sihyun, 
                    </text>
                    <text>
                        takeny
                    </text>
                </div>
                <div class="setting-item leave" style="margin-bottom: 10px;">
                    <text>
                        <b>문의연락처</b>&nbsp;
                    </text>
                    <text>
                        tjtlgus5@gmail.com
                    </text>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
        $('#personal_setting').on('click', function() {
            location.href = "{% url 'common:personal_info' %}"
        })
        $('#logout').on('click', function() {
            location.href = "{% url 'common:logout' %}";
            android.returnMain();
        })
        $('#delete_user').on('click', function() {
            location.href = "{% url 'common:delete_user' %}"
        })
        $('#report').on('click', function() {
            location.href = "{% url 'common:report' %}"
        })
        $('#parkingLot_manage').on('click', function() {
            android.goToMain()
        })
        var modal = document.getElementById('info-modal')
        var input = document.getElementById('app_info')

        // odal.addEventListener('shown.bs.modal', function () {
        //     input.focus()
        // })

        $('#app_info').on('click', function() {
            var modal = document.getElementById('info-modal');

            $('#info-modal').modal('show');
        })
        
    })
    

</script>


{% endblock %}