{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    body {
        font-family:넥슨 고딕;
        padding-top: 20px;
    }

    #background {
        background-color: #58C9B9;
        color:white;
        position: fixed;
        top:0px;
        height:100px;
        width:100%;
        z-index: -999;
        text-align: center;
        padding: 20px;
    }
    #page-info {
        margin-top:20px;
    }

    #page-name {
        font-family: '넥슨 고딕 bold';
        font-size:18px;
    }

    #page-desc {
        font-size:12px;
    }
    #mypoint-text {
        font-size:14px;
    }
    #header {
        position: fixed;
        padding:15px;
        width:80px;
        background-color: white;
        left:50%;
        top:150px;
        transform: translate(-50%, 0);
        border-radius: 15px;;
        box-shadow: 0px 10px 20px -10px #8b8b8b;
    }
    
    #header > #mypoint {
        color: #41958A;
    }

    #header > #mypoint > .row > #value {
        
        font-family: '넥슨 고딕 bold';
        font-size:28px;
    }
    #header >  #mypoint > .row >  #charge {
        background-color: #41958A;
        border: none;
        border-radius: 10px;
        font-size:14px;
        color: white;
        padding:5px;
    }
    .setting-box{
        margin-top: 100px;
    }
    .setting-item{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 30px;
        margin-bottom: 20px;
        padding-top: 10px;
        height: fit-content;
    }
    .setting-item > div{
        margin-top: 30px;
        margin-left: 50px;
    }

    .payment {

        border-bottom: 1px solid rgb(177, 177, 177);
        padding: 15px;
        margin: 10px 0px;

    }
    
    .row {
        display: flex;
        vertical-align: middle;
    }
    .btn {
        border-radius: 20px;

        font-size:14px;
        background-color: #33978a;
        border:none;
    }

    .btn:focus {
        background-color: #1d685e;
    }
    .btn:hover {
        background-color: #1d685e;
    }    
    
    .left-text {
        text-align: left;
    }

    .right-text {
        text-align: right;
        position: relative;
    }

    #pay_amount {
        position: absolute;
        right: 20px;
        top:50%;
        transform:translate(0, -50%);
        font-size:16px;
    }

    .minus > .row > .right-text {
        
        color:#E06273;
    }

    .plus > .row > .right-text {
        font-size:16px;
        color:#163F76;
    }

    #pay_name {
        font-size:16px;
        color:#163F76;
    }
    
    #pay_date {
        margin-top:3px;
        font-size:12px;
    }

    .moblie {
        min-width:300px;
        max-width:400px;
    }
</style>
<div id="background">
    <div id="page-info">
        <text id="page-name">
            환경설정
        </text>
        <br>
    </div>
</div>
<div class='setting-box'>
    <div class="setting-item payment-list">
        <strong>사용자 설정</strong>
        <div class="personal-setting">
            <text>
                계정관리
            </text>
        </div>
        <hr>
    </div>
    <div class="setting-item payment-list">
        <strong>판매자 등록</strong>
        <div class="add-parkingLot">
            <text>
                주차장 등록
            </text>
        </div>
        <hr>
    </div>
    <div class="setting-item app-info">
        <strong>기타</strong>
        <div class="logout">
            <text>
                로그아웃
            </text>
        </div>
        <div class="setting-item leave" id="delete_user">
            <text>
                회원탈퇴
            </text>
        </div>
        <hr>
    </div>
    <div class="setting-item app-info">
        <strong>앱정보</strong>
        <div class="info-application">
            <text>
                버전 정보
            </text>
            <text>
                1.0.0
            </text>
        </div>
        <div class="setting-item leave">
            <text>
                운영진
            </text>
            <text>
                sihyun, 
            </text>
            <text>
                takeny
            </text>
        </div>
        <div class="setting-item leave">
            <text>
                문의연락처
            </text>
            <br>
            <text>
                tjtlgus5@gmail.com
            </text>
            <br>
            <text>
                희범이 이메일
            </text>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.personal-setting').on('click', function() {
            location.href = "{% url 'common:personal_info' %}"
        })
        $('.logout').on('click', function() {
            location.href = "{% url 'common:logout' %}";
            android.returnMain();
        })
        $('#delete_user').on('click', function() {
            location.href = "{% url 'common:delete_user' %}"
        })
        $('.add-parkingLot').on('click', function() {
            android.goToMain()
        })
        
    })
    

</script>


{% endblock %}