{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    body {
        background-color:#ececec;
        font-family:넥슨 고딕;
    }

    #background {
        background-color: #58C9B9;
        position:absolute;
        top:0px;
        height:200px;
        width:100%;
        z-index: -999;
    }
    
    #content {
        background-color: white;
        min-width: 300px;
        max-width: 400px;
        width:80%;
        position:absolute;
        top:80px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    #content > #header {
        height:20vh;
        min-height:150px;
        max-height:200px;
        display: table;
        width:100%;
        margin-bottom: 20px;
    }

    #content > #header > #message {
        display:table-cell;
        text-align: center;
        vertical-align: middle;
        font-size: 21px;
    }
    
    #content > #header > #message > .bold {
        font-family: 넥슨 고딕 bold;
        color: #58C9B9;
    }

    
    #content > #header > #message > #status_icon {
        width: 48px;
        height: auto;
        margin-top: 50px;
        margin-bottom: 20px;
        
    } 

    #content > #body {
        padding:20px 25px;
        margin-bottom: 20px;
    }

    * > #row > .bold {
        font-family: 넥슨 고딕 bold;
        color: #58C9B9;
        font-size: 18px;
    }

    * > #row > .small {
        color: #afafaf;
        font-size: 13ㅔx;
    }

    #content > hr {
        border: none;
        border-top: 3px dashed rgb(173, 173, 173);
        color: #fff;
        background-color: #fff;
        height: 1px;
        width: 100%;
        margin-bottom: 0px;
    }

    #content > #footer > #submit {
        background-color: #58C9B9;
        color: #ffffff;
        font-family: 넥슨 고딕 bold;
        font-size: 21px;
        width:100%;
        height:50px;
        min-width: 300px;
        max-width: 400px;
        border:none;
    }
    
    .left-col {
        text-align: left;
        
        font-size: 14px;
    }

    .right-col {
        text-align: right;
        
        font-size: 16px;
    }

</style>
<div id="background"></div>

<div id="content">
    <div id="header">
        <span id="message">
            
            <img src="{% static 'icon/pay_ok.png' %}" id="status_icon" />
            <br>
            <span class="bold">결제</span>가 <span class="bold" id="status"></span>되었습니다.
        </span>
    </div>
    
    <hr>
    <div class="container" id="body">
        <div class="row mb-2" id="row">
            <div class="col-4 left-col" >가맹점</div>
            <div class="col-8 right-col">주차나라</div>
        </div>
        <div class="row mb-2" id="row">
            <div class="col-4 left-col" >주문번호</div>
            <div class="col-8 right-col" id="mid"></div>
        </div>
        <div class="row mb-2" id="row">
            <div class="col-4 left-col" >주문자명</div>
            <div class="col-8 right-col" id="nickname"></div>
        </div>
        <hr>
        <div class="row mb-2" id="row">
            <div class="col-4 left-col" >결제일시</div>
            <div class="col-8 right-col small" id="created"></div>
        </div>
        <div class="row mb-2" id="row">
            <div class="col-4 left-col" >결제수단</div>
            <div class="col-8 right-col" id="method"></div>
        </div>
        <div class="row mb-2" id="row">
            <div class="col-4 left-col" >결제금액</div>
            <div class="col-8 right-col bold" id="amount"></div>
        </div>
    </div>

    <div id="footer">
        <button id="submit">확&nbsp;&nbsp;&nbsp;인</button>
    </div>
</div>

<script>
    let status = "완료";
    let mid = "{{ payment.mid }}";
    let nickname = "{{ payment.personal.nickname }}";
    let created = "{{ payment.created}}";
    let method = "신용카드/간편결제";
    let amount = "{{ payment.amount}}";

    if("{{ payment.status }}" != "paid") {
        status = "실패";
        $('#content').find('.bold').css("color", "#E04F5F");
        $('#status_icon').attr("src", "{% static 'icon/pay_fail.png' %}")
    }

    if("{{ payment.method }}" == "phone") {
        method= "휴대폰 소액결제"
    }
    
    $('#status').text(status)
    $('#mid').text(mid)
    $('#nickname').text(nickname)
    $('#created').text(created)
    $('#method').text(method)
    $('#amount').text(amount)

</script>
{% endblock %}