{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/mSpinners.css' %}">
<style>
    body {
        
        background-color:#ececec;
        font-family: '넥슨 고딕';
    }

    #header {
        background-color: #58C9B9;
        color:white;
        text-align: center;
        height:180px;
        padding: 20px;
    }

    #page-info {
        margin-top:20px;
    }

    #page-name {
        font-family: '넥슨 고딕 bold';
        font-size:24px;
    }

    #body {
        width: 80%;
        margin:auto;
        margin-top:30px;
        background-color: white;
        padding:15px;
    }

    #body-header {
        text-align: center;
    }

    #body-footer {
        margin-top: 25px;
        text-align: center;
    }

    #status {
        text-align: center;
    }

    #status-text {
        font-family: '넥슨 고딕 bold';
        font-size: 18px;
        color: #33978a;
    }

    #park-info {
        margin-top: 20px;
    }

    #submit-out {
        display: block;
        width: 80%;
        height: 50px;
        border:none;
        margin:auto;
        background-color: #58C9B9;
        color:white;
        font-family: '넥슨 고딕 bold';
        font-size: 21px;
    }

    .title {
        font-family: '넥슨 고딕 bold';
        font-size: 24px;
        color: #33978a;
    }

    .min-max {
        min-width:300px;
        max-width:350px;
    }

    .info-label {
        color: #33978a;
        font-family: '넥슨 고딕 bold';
        font-size:14px;
        text-align: left;
    }

    .info-value {
        font-size:14px;
        text-align: right;
    }
    .hr-dotted {
        border: none;
        border-top: 3px dashed rgb(61, 61, 61);
        color: #fff;
        background-color: #fff;
        height: 1px;
        width: 100%;
    }
    /* override exist bootstrap style */
    .btn {
        border-radius: 20px;
        background-color: #33978a;
        border:none;
        color:white;
    }

    .btn:focus {
        background-color: #1d685e;
    }
    .btn:hover {
        background-color: #1d685e;
    }

    .m-spinner--signal {
        --spinner-color: var(--color,#33978a);
    }
</style>

<div id="header">
    <div id="buttons" class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary shadow-none">포인트</button>
        <button type="button" class="btn btn-primary shadow-none">주차권</button>
        <button type="button" class="btn btn-primary shadow-none">내주차장</button>
    </div>

    <div id="page-info">
        <text id="page-name">
            내 주차권 확인
        </text>
        <br>
        <text id="page-info">
            내가 가지고 있는 주차권을<br>확인하고 관리하세요.
        </text>
    </div>
</div>

<div id="body" class="min-max">
    <div id="body-header">
        <text class="title" id="park-name">
            {{ park.name }}
        </text>
        
    </div>
    <hr class="hr-dotted">
    <div id="body-body">
        <div id="status">
            <i class="m-spinner--signal"></i><br>
            <text id="status-text">주차장 이용중</text><br>
            <text id="spend-time"></text>
        </div>
        <div id="park-info" class="container">
            <div class="row mb-2">
                <text class="col-4 info-label">
                    입차시각
                </text>
                <text class="col-8 info-value">
                    {{ ticket.created|date:'Y-m-d H:i:s' }}
                </text>
            </div>
            <div class="row mb-2">
                <text class="col-4 info-label">
                    가&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;격
                </text>
                <text class="col-8 info-value">
                    {{ park.fee }}P/10분당
                </text>
            </div>
            <div class="row mb-2">
                <text class="col-4 info-label">
                    운영시간
                </text>
                <text class="col-8 info-value">
                    {{ park.start_time }} ~ {{ park.end_time }}
                </text>
            </div>
        </div>
        <hr>
        <div id="fee-info" class="container">
            <div class="row mb-2">
                <text class="col-6 info-label">
                    청구금액
                </text>
                <text class="col-6 info-value">
                    4,500원
                </text>
            </div>
            <div class="row mb-2">
                <text class="col-6 info-label">
                    이용가능(잔여)
                </text>
                <text class="col-6 info-value" id="avail_time">
                    1시간 51분 23초
                </text>
            </div>
        </div>
    </div>

    <div id="body-footer">
        <button type="button" class="btn">
            충전하기
        </button>
        <button type="button" class="btn">
            채팅하기
        </button>
        <button type="button" class="btn">
            불편신고
        </button>
    </div>

</div>

<button type="button" id="submit-out" class="min-max">
출&nbsp;&nbsp;차&nbsp;&nbsp;하&nbsp;&nbsp;기
</button>

<script>
    var created = new Date("{{ ticket.created|date:'Y-m-d H:i:s' }}")
    function printGap() {

        function secToStr(seconds) {
            var hour = parseInt(seconds/3600);
            var min = parseInt((seconds%3600)/60);
            var sec = seconds % 60;
            var str = hour + "시간 " + min + "분 " + sec + "초"
            $('#spend-time').text(str);
        }
        var now = new Date()
        var gapSec = parseInt((now - created) / 1000)
        secToStr(gapSec)
        setTimeout("printGap()", 1000);
    }
    
    printGap()
</script>
{% endblock %}