{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/mSpinners.css' %}">
<style>
    body {
        
        background-color:#f3f3f3;
        font-family: '넥슨 고딕';
    }

    #header {
        background-color: #58C9B9;
        color:white;
        text-align: center;
        height:180px;
        padding: 20px;
    }

    #page-info {
        margin-top:20px;
    }

    #page-name {
        font-family: '넥슨 고딕 bold';
        font-size:18px;
    }

    #page-desc {
        font-size:12px;
    }
    #body {
        width: 80%;
        margin:auto;
        margin-top:30px;
        background-color: white;
        padding:15px;
        font-size:14px;
        
    }

    #body-header {
        text-align: center;
    }

    #body-footer {
        margin-top: 25px;
        text-align: center;
    }

    #status {
        text-align: center;
    }

    #status-text {
        font-family: '넥슨 고딕 bold';
        font-size: 16px;
        color: #33978a;
    }

    #park-info {
        margin-top: 20px;
    }

    #submit-out {
        display: block;
        width: 80%;
        height: 50px;
        border:none;
        margin:auto;
        background-color: #58C9B9;
        color:white;
        font-family: '넥슨 고딕 bold';
        font-size: 18px;
    }
    .title {
        font-family: '넥슨 고딕 bold';
        font-size: 21px;
        color: #33978a;
    }

    .min-max {
        min-width:300px;
        max-width:350px;
    }

    .info-label {
        color: #33978a;
        font-family: '넥슨 고딕 bold';
        font-size:14px;
        text-align: left;
    }

    .info-value {
        font-size:14px;
        text-align: right;
    }
    .hr-dotted {
        border: none;
        border-top: 3px dashed rgb(61, 61, 61);
        color: #fff;
        background-color: #fff;
        height: 1px;
        width: 100%;
    }
    /* override exist bootstrap style */
    .btn {
        font-size:14px;
        border-radius: 20px;
        background-color: #33978a;
        border:none;
        color:white;
    }

    .btn:focus {
        background-color: #1d685e;
    }
    .btn:hover {
        background-color: #1d685e;
    }

    .m-spinner--signal {
        --spinner-color: var(--color,#33978a);
    }
</style>

<div id="header">
    <div id="buttons" class="btn-group" role="group" aria-label="Basic example">
        <button type="button" id="" onclick="goToPoint()" class="btn btn-primary shadow-none">포인트</button>
        <button type="button" id="" onclick="goToTicket()" class="btn btn-primary shadow-none">주차권</button>
    </div>

    <div id="page-info">
        <text id="page-name">
            내 주차권 확인
        </text>
        <br>
        <text id="page-desc">
            내가 가지고 있는 주차권을<br>확인하고 관리하세요.
        </text>
    </div>
</div>

<div id="body" class="min-max shadow">
    <div id="body-header">
        <text class="title" id="park-name">
            {{ park.name }}
        </text>
        
    </div>
    <hr class="hr-dotted">
    <div id="body-body">
        <div id="status">
            <i class="m-spinner--signal"></i><br>
            <text id="status-text">주차장 이용중</text><br>
            <text id="spend-time"></text>
        </div>
        <div id="park-info" class="container">
            <div class="row mb-2">
                <text class="col-4 info-label">
                    입차시각
                </text>
                <text class="col-8 info-value">
                    {{ ticket.created|date:'Y-m-d H:i:s' }}
                </text>
            </div>
            <div class="row mb-2">
                <text class="col-4 info-label">
                    가&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;격
                </text>
                <text class="col-8 info-value">
                    {{ park.fee }}P/10분당
                </text>
            </div>
            <div class="row mb-2">
                <text class="col-4 info-label">
                    운영시간
                </text>
                <text class="col-8 info-value">
                    {{ park.start_time }} ~ {{ park.end_time }}
                </text>
            </div>
        </div>
        <hr>
        <div id="fee-info" class="container">
            <div class="row mb-2">
                <text class="col-6 info-label">
                    청구금액(예상)
                </text>
                <text class="col-6 info-value" id="billing_fee">
                </text>
            </div>
            <div class="row mb-2">
                <text class="col-6 info-label" >
                    내포인트(잔여)
                </text>
                <text class="col-6 info-value"id="mypoint">
                    
                </text>
            </div>
        </div>
    </div>

    <div id="body-footer">
        <button type="button" onclick="goToPayment()" class="btn shadow-none">
            충전하기
        </button>
        <button type="button" id="btn_chat" class="btn shadow-none">
            채팅하기
        </button>
        <button type="button" onclick="goToReport()" class="btn shadow-none">
            불편신고
        </button>
    </div>

</div>

<button type="button" id="submit-out" class="min-max shadow" onclick="requestOut()">
출&nbsp;&nbsp;차&nbsp;&nbsp;하&nbsp;&nbsp;기
</button>

<script>
    var created = new Date("{{ ticket.created|date:'Y-m-d H:i:s' }}")
    var myPoint = parseInt("{{ user.deposit }}");
    var spendSec = parseInt("{{ sec_diff }}");
    myPoint = myPoint.toLocaleString('ko-kr') + "P";
    $('#mypoint').text(myPoint);

    function printInterval() {
        function formatTime(seconds) {
            var hour = parseInt(seconds/3600);
            var min = parseInt((seconds%3600)/60);
            var sec = seconds % 60;
            var str = hour + "시간 " + min + "분 " + sec + "초";

            return str;
        }
        function setSpendTime(seconds) {
            var spendTime = formatTime(seconds);
            $('#spend-time').text(spendTime);
        }
        function setBillingFee(seconds) {
            var spendMin = spendSec / 60;
            var spendPeriod = Math.ceil(spendMin / 10);
            var fee = parseInt("{{ park.fee }}");
            var billingFee = fee * spendPeriod;
            var billingFee= billingFee.toLocaleString('ko-kr') + "P";
            $('#billing_fee').text(billingFee);
        }
        


        setSpendTime(spendSec)
        setBillingFee(spendSec)
        spendSec += 1;
        setTimeout("printInterval()", 1000);
    }
    printInterval()

    function requestOut() {
        Swal.fire({
            title: '출차 확인',
            icon: 'question',
            text: '정말 출차 하시겠습니까?',
            showCancelButton: true,
            confirmButtonColor: '#58C9B9',
            confirmButtonText: '네',
            cancelButtonText: `아니요`,
        }).then((firstResult) => {
            /* Read more about isConfirmed, isDenied below */
            if (firstResult.isConfirmed) {
                Swal.fire({
                    icon: 'success',
                    title: '출차 성공',
                    text: '출차가 완료되었습니다.',
                    confirmButtonColor: '#58C9B9',
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.href="{% url 'map:confirm_ticket' %}"
                    }
                })
            }
        })
        
    }

    function goToPayment() {
        location.href = "{% url 'pay:main' %}"
    }

    $(document).on('click', '#btn_chat', function(){
		var value = "{{ park.user }}"
        try {

            Personal.personalChatRoom(value);
        } catch(err) {
            document.write(err)
        }
	});
</script>
{% endblock %}