{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>

    body {
        background-color:#ececec;
        font-family:'넥슨 고딕';
    }

    #background {
        background-color: #58C9B9;
        position:absolute;
        top:0px;
        left: 0px;
        height:200px;
        width:100%;
        z-index: -999;
    }

    #content {
        background-color: white;
        min-width: 300px;
        max-width: 400px;
        width:80%;
        margin: auto;
        
        margin-top:50px;
    }

    #content > #header {
        height:20vh;
        min-height:150px;
        max-height:200px;
        display: table;
        width:100%;
    }

    #content > #header > #message {
        display:table-cell;
        text-align: center;
        vertical-align: middle;
        font-size: 21px;
    }

    #content > #header > #message > #status_icon {
        width: 48px;
        height: auto;
        margin-bottom: 20px;
        
    } 
    #content > hr {
        border: none;
        border-top: 3px dashed rgb(173, 173, 173);
        color: #fff;
        background-color: #fff;
        height: 1px;
        width: 100%;
        margin: 0px !important;
    }

    #content > #body {
        padding:20px 25px;
        margin-bottom: 20px;
    }

    #info {
        
        min-width: 300px;
        max-width: 400px;
        width:80%;
        margin: auto;
        text-align: center;
        font-size:12px;
        
        padding: 10px 0px;
    }

    #buttons {
        min-width: 300px;
        max-width: 400px;
        width:80%;
        margin:auto;
        margin-top:20px;
        margin-bottom:20px;
    }

    .bold {
        font-family: '넥슨 고딕 bold';
        color: #58C9B9;
    }

    .left-col {
        text-align: left;
        color: #58C9B9;
        font-size: 14px;
    }

    .right-col {
        text-align: right;
        
        font-size: 14px;
    }

    .small {
        color: #929292;
        font-size: 14px;
    }

    .xsmall {
        color: #929292;
        font-size: 12px;
    }

    .btn-main {
        background-color: #58C9B9;
        color: white;
        border: none;
        width:100%;
        padding:10px;
    }
    .btn-main:focus {
        background-color: #1d685e !important;
        color:white;
    }
    .btn-main:hover {
        background-color: #1d685e !important;
        color:white;
    }
    .btn-sub {
        background-color: #58C9B9;
        color: white;
        border: none;
        width:100%;
        font-size:14px;
        padding:3px;
        margin-bottom: 10px;
    }
    .btn-sub:focus {
        background-color: #1d685e;
        color:white;
    }
    .btn-sub:hover {
        background-color: #1d685e;
        color:white;
    }

    #btn_cancel {
        background-color: #81cec4;
    }
    
    
    
</style>

<div id="background"></div>

<div id="content">
    <div id="header">
        <text id="message">
            <img src="{% static 'icon/question.png' %}" id="status_icon" /><br>
            <text class="bold">입차</text> 하시겠습니까?
        </text>
    </div>
    <hr>
    <div class="container" id="body">
        <div class="row mb-2" id="row">
            <div class="col-4 left-col" >주차장명</div>
            <div class="col-8 right-col" id="name">{{ parking_lot.name }}</div>
        </div>
        <div class="row mb-2" id="row">
            <div class="col-4 left-col" >입차시각</div>
            <div class="col-8 right-col" id="datetime"></div>
        </div>
        <div class="row mb-2" id="row">
            <div class="col-4 left-col" >내포인트</div>
            <div class="col-8 right-col" id="point">{{ personal.point }}P</div>
        </div>
        <div class="row mb-2" id="row">
            <div class="col-4 left-col" ></div>
            <div class="col-8 right-col">
                <button type="button" class="btn btn-sub shadow-none" onclick="goToPay()">
                    충 전 하 기
                </button>
            </div>
        </div>
        <div class="row mb-2" id="row">
            <div class="col-4 left-col" >가&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;격</div>
            <div class="col-8 right-col" id="fee">{{ parking_lot.fee }}P/10분당</div>
        </div>
    </div>
</div> 

<div id="info">
    ※ 확인 버튼을 누르시면, 해당 주차장에 입차 처리가 되어 10분당 한번 씩, 위 가격에 고지된 포인트만큼 차감됩니다.<br><br>
    ※ 마이페이지 > 내 주차권에서 출차하실 수 있으며 출차처리 이후에는 포인트가 차감되지 않습니다.<br><br>
    ※ 고객님의 포인트가 전부 소진되면 조기에 출차처리가 이루어질 수 있습니다.
</div>

<div class="container" id="buttons">
    <div class="row" id="row">
        <div class="col-6" style="padding-left:0px; padding-right:5px;">
            <button class="btn btn-main shadow-none" id="btn_cancel" type="button"  onclick="goToMain()">
                취&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;소
            </button>
        </div>
        <div class="col-6" style=" padding-left:5px; padding-right:0px;">
            <button class="btn btn-main shadow-none" id="btn_ok" type="button" onclick="submit()">
                확&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;인
            </button>
        </div>
    </div>
    
    
</div>
<script>
    // 실시간 표시
    function printTime() {
        var clock = document.getElementById("datetime");
        var now = new Date();
        clock.innerHTML = now.getFullYear() + "-"
        + ('00' + (now.getMonth()+1)).slice(-2) + "-"
        + ('00' + now.getDate()).slice(-2) + " "
        + ('00' + now.getHours()).slice(-2) + ":"
        + ('00' + now.getMinutes()).slice(-2) + ":"
        + ('00' + now.getSeconds()).slice(-2);
        setTimeout("printTime()", 1000);
    }

    window.onload = function() { printTime(); };

    function goToPay() {
        location.href="{% url 'pay:main' %}";
    }

    function goToMain() {
        location.href="{% url 'map:main' %}";
    }

    function submit() {
        jQuery.ajax({
            url: "/map/ticket/create/",
            type: 'POST',
            dataType: 'json',
            data: {
                id: "{{ parking_lot.id }}"
            }
        })
    }
</script>
{% endblock %}